*{
    box-sizing:border-box;
}

body{
    margin:0;
    font-family:Arial,sans-serif;
    color:white;

    background:
        radial-gradient(circle at top center,rgba(182,255,0,.28),transparent 45%),
        linear-gradient(180deg,#08120a 0%,#050505 100%);
}

.leaderboard-page{
    width:100%;
    max-width:430px;
    min-height:100vh;
    margin:0 auto;
    padding-bottom:40px;
}

.top-bar{
    height:70px;

    display:flex;
    align-items:center;
    justify-content:center;

    position:relative;
}

.back-button{

    position:absolute;
    left:16px;

    width:42px;
    height:42px;

    border:none;
    border-radius:12px;

    background:#1b1b1b;
    color:white;

    font-size:22px;
    cursor:pointer;

    transition:.2s;
}

.back-button:hover{
    background:#262626;
}

.leaderboard-title{

    margin:0;

    color:#b6ff00;

    font-size:46px;
    font-weight:900;
    font-style:italic;
    letter-spacing:1px;

    text-shadow:0 0 24px rgba(182,255,0,.35);

}